@page "/Bindings"

<PageTitle>Bindings - Blazor Examples</PageTitle>

<h1>Bindings</h1>
<p>This page contains examples of bindings in Blazor.</p>
<p>The examples are organized into the following sections:</p>
<ul>
    <li>One-way binding</li>
    <li>Two-way binding</li>
    <li>Event binding</li>
</ul>