@page "/"
@page "/Home"

<PageTitle>Home - Blazor Examples</PageTitle>

<h1>Blazor Examples by Peter Stackebrandt</h1>
<p>This is a collection of Blazor examples.</p>
<p>The examples are organized into the following sections:</p>
<ul>
    <li>Basics</li>
    <li><NavLink href="/Bindings">Bindings</NavLink></li>
    <li><NavLink href="/rendermode">Render Modes</NavLink></li>
    <li>Components</li>
    <li>Routing</li>
    <li>Data</li>
    <li>Security</li>
</ul>
